body {
  background-color: #eef1ff;
  font-family: "Bitter", serif;
}

img {
  width: 700px;
  height: 500px;
  display: flex;
  margin: 0 auto;
  border: 10px solid #b0c4de;
  justify-content: center;
  margin-top: 70px;
}

#content img {
  display: none;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

#paragraphs p {
  display: none;
}

p {
  text-align: center;
  font-size: 20px;
  margin-top: 70px;
}
